
* { 
  margin: 0;
  padding: 0;
}
  
:root {
    font-family: "Open Sans", sans-serif;
    --background-default: #F5F4F0;
    --border-primary: #D9D9D9;

    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #E1624F;

    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;

}
  
main {
  padding: 24px;
}

#page {
  margin: 62px auto;
  box-sizing: border-box;
  max-width: 1120px;
  display: block;
  padding: 24px;
}

  
.divider {
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #d9d9d9;
}

h1 {
  color: var(--text-primary);
  font-size: 36px;
  line-height: 49px;
}

h2 {
  color: var(--text-headline);
  font-size: 16px;

}

p {
  color: var(--text-secondary);
}
img {
   width: 100%;
}
  
footer {
    text-align: center;
    padding-bottom: 48px;
}

footer p {
  margin-bottom: 80px;
}
  
footer img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
