 .first-box {
  margin-block: 40px;
}

.first-box p {
  margin-top: 24px;
  color: var(--text-secondary);
  height: 37px;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.second-box {
  margin-block: 64px;
}
.second-box h1{
  margin-top: 20px;
}

section img:nth-of-type(n+2){
  margin-top: 48px;
}

.sub-content {
margin-top: 30px;
font-weight: 700;
font-size: 16px;
line-height: 22px;
color: var(--text-secondary);
}

li.text-blue { 
font-weight: 700;
font-size: 16px;
line-height: 22px;
color: var(--accent-blue);
}
li.text-purple{ 
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--accent-purple);
}
li.text-pink{ 
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--accent-pink);
}
li.text-orange{ 
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--accent-orange);
}


